@model PlanoAprendizado.Models.DayTime

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalhes Horas Dia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualState.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Retornar</a>
</div>
