@model PlanoAprendizado.Models.Expense

@{
    ViewData["Title"] = "Delete";
}

<h4>Deletar Despesa</h4>

<h6>Tem certeza de que deseja excluir?</h6>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CashDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CashDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompeteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompeteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompeteMonthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompeteMonthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostCenter.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capture.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccount.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetBill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankValueMoment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankValueMoment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnterpriseBankValueMoment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnterpriseBankValueMoment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a asp-action="Index">Retornar</a>
    </form>
</div>
