@model IEnumerable<PlanoAprendizado.Models.Learning>

@{
    ViewData["Title"] = "Index";
}

<h4>Aprendizados</h4>

<p>
    <a class="btn btn-info" style="font-size: small" asp-action="Create">Adicionar</a>
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OportunityLearning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasurementForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="visibility: hidden"></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Circle.Name)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.PeopleLearns
                .Where(x => x.Type == TypePerson.Mentor && x.LearningId == item.Id)
                .FirstOrDefault().Person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeopleLearns
                .Where(x => x.Type == TypePerson.Mentorado && x.LearningId == item.Id)
                .FirstOrDefault().Person.Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Theme.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OportunityLearning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearningAction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementForm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary mr-1" asp-route-id="@item.Id" style="font-size:x-small"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" class="btn btn-success mr-1" asp-route-id="@item.Id" style="font-size:x-small"><i class="fa fa-search"></i></a>
                    <a asp-action="Delete" class="btn btn-danger mr-1" asp-route-id="@item.Id" style="font-size:x-small"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
