@model PlanoAprendizado.Models.BankAccount

@{
    ViewData["Title"] = "Delete";
}

<h4>Deletar Conta Bancária</h4>

<h6>Tem certeza de que deseja excluir?</h6>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enterprise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enterprise.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialBalance)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        <a asp-action="Index">Retornar</a>
    </form>
</div>
