@page
@model LoginModel


@{
    ViewData["Title"] = "Entrar";
}


<div class="card bg-gradient card-info" style="width: 350px; position: absolute; left: 40vw; top:20%; border: 5px; background-color: #DCDCDC">
    
    <div class="card-body">
        <h3 style="text-align: center">Login</h3>
        <section>
            <form id="account" method="post">     
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" placeholder="Digite seu email"  class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" placeholder="Digite sua senha"  class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="small mb-5 pb-lg-2">
                    <a class="text-muted" href="#!"></a>
                    <button type="submit" class="btn btn-info btn-lg btn-block">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a style="color: #17A2B8" id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    <p>
                        <a style="color: #17A2B8" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usuário</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
   @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use outro serviço para fazer login.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Não há serviços de autenticação externos configurados. Veja <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            para obter detalhes sobre como configurar este aplicativo ASP.NET para dar suporte ao login por meio de serviços externos..
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
